body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: auto;
    margin: 0 auto;
}

.table-container {
    overflow-x: auto; 
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

thead, tbody {
    width: 100%;
}

tr {
    display: table-row;
    width: 100%;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    word-wrap: break-word;
}


.idcol {
    width: 5%; 
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.boton-registrar, .boton-menu {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    align-self: flex-end;
    margin-top: 20px;
    margin: 5px;
}

.boton-registrar:hover, .boton-menu:hover {
    background-color: #004494;
}

.boton-eliminar, .boton-editar {
    background-color: #ffffff;
    color: #007BFF;
    border: none;
    font-size: medium;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.boton-eliminar:hover, .boton-editar:hover{
    color: darkred;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.boton-eliminar:active, .boton-editar:active {
    background-color: #003366;
    color: darkred;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.botones, .boton-editar, .boton-eliminar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
}

@media (max-width: 583px) {

    .container {
        padding: 15px;
        width: 98%; 
    }

    table th, table td {
        padding: 8px; 
    }

    table {
        font-size: 14px; 
    }

    .botones {
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    }

    .boton-registrar, .boton-menu {
        width: 100%; 
        max-width: 300px; 
    }

    .boton-eliminar, .boton-editar {
        font-size: small;
        padding: 4px 8px;
    }
}

